// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul#frontpage_song_list {
    list-style-type: none;
    padding: 5px;
    display: block;
}


ul#frontpage_song_list li:nth-of-type(odd) {
    background-color: beige;
}
ul#frontpage_song_list li:nth-of-type(even) {
    background-color: cadetblue;
}
ul#frontpage_song_list li:hover {
    background-color: red;
}

a.song_link, a.song_link:visited {
    text-decoration: none;
    color: black;
    padding: 3px;
}